html{
  background-color:#8B9DC3;
}

body {
  font-family: Arial, sans-serif;
  color: #DFE3EE;
  max-width: 300px;
  margin: 10px;
}

h2 {
  text-align: center;
  color: #213664;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #7084b5;
  border-left: 1px solid #7084b5;
  border-right: 1px solid #7084b5;
  &&:first-child{
    border-top: 1px solid #7084b5;
  }
}

a {
  text-decoration: none;
  color: #FFFF;
  font-weight: bold;
}

#addCoordDiv{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

#addCoordButton{
  background-color:#3B5998;
  border: 1px solid #3B5998;
  color: inherit;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}

#toggleCoordsButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #DFE3EE;
  background-color: #3B5998;
  border: none;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

#chevronIcon{
  color: #DFE3EE;
}

#addCoordInput {
  outline-style: none;
}